<div class="row">
  <ul>
    <% @results.each do |result| %>
      <li>
        <% question = result.question %>
        <%= question.name %><br/>
        <% case question.question_type %>
        <% when Settings.question_type.single %>
          <% question.answers.each do |answer| %>
            <%= radio_button_tag "question#{question.id}", answer.id,
              result.answer_content.include?(answer.id.to_s),
              {disabled: true} %>
            <%= answer.content %><br/>
          <% end %>
        <% when Settings.question_type.multi %>
          <% question.answers.each do |answer| %>
            <%= check_box_tag "question#{question.id}", answer.id,
              result.answer_content.include?(answer.id.to_s),
              {disabled: true} %>
            <%= answer.content %><br/>
          <% end %>
        <% when Settings.question_type.text %>
          <%= text_field_tag "question#{question.id}", result.answer_content[0],
            disabled: true %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
