<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @exam do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :status, value: :start %>
      <%= f.hidden_field :duration, value: Settings.exam.duration %>
      <%= f.hidden_field :question_number,
        value: Settings.exam.question_number %>

      <%= f.select :subject_id,
        options_from_collection_for_select(@subjects, "id", "name"),
        class: "form-control" %>

      <%= f.submit t("layouts.buttons.create_exam"), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<br/>
<div class="row text-success">
  <div class="col-md-9">
    <table class="table">
      <tr>
        <th class="text-center col-md-2"><%= t "labels.exam.created_date" %></th>
        <th class="text-center"><%= t "labels.exam.subject" %></th>
        <th class="text-center"><%= t "labels.exam.status" %></th>
        <th class="text-center"><%= t "labels.exam.duration" %></th>
        <th class="text-center"><%= t "labels.exam.question_number" %></th>
        <th class="text-center"><%= t "labels.exam.spent_time" %></th>
        <th class="text-center"><%= t "labels.exam.score" %></th>
        <th></th>
      </tr>
      <%= render @exams %>
    </table>
    <%= paginate @exams %>
  </div>
</div>
